<% include ../partials/header %>
<div class="container">
    <div class="row">
<h1 style="text-align: center">Добавить новую статью</h1>
<div style="width:30%; margin:50px auto;">

   <form action="/works" method="post">
       <div class="form-group">
            <input class="form-control" type="text" name="name" placeholder="Имя">
        </div>
       <div class="form-group">
            <input class="form-control" type="text" name="image" placeholder="Адрес картинки">
        </div>
       <div class="form-group">
           <input class="form-control" type="text" name="description" placeholder="Описание...">
       </div>
       <div class="form-group">
            <button class="btn btn-lg btn-block btn-primary">Нажать!</button>
        </div>
   </form>
    <a href="/works">Вернуться на главную</a>
</div>

    </div>
</div>
<% include ../partials/footer %>