<h1>Добро пожаловать в форму регистрации</h1>

<form action="./register" method="post">
    <input type="text" name="username" placeholder="Введите имя">
    <input type="password" name="password" placeholder="Ведите адрес почты">
    <button type="submit">Регистрация</button>
</form>